/* base */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url(./reset.css);

*{ margin: 0px; padding: 0px; font-family: 'Noto Sans KR', sans-serif;  }
li{ list-style: none; }
a{ text-decoration: none; } 

a:active { color:#2E5BFF}

img{ border: none; }
address{ font-style: normal; }
a[href^="tel"]{
  color: inherit;
  text-decoration: none;
}


/* layout */
header{width: 100%;  height: 80px;position:relative;}

.h_container {width:70% ;min-width: 1195px; height: 100px;margin:0 auto;  }
.main_logo{width: 90px; height: 50px; float: left;padding-top: 20px; }
   








/*--*/
header {
  height: 80px;
}
header .h_container {
  height: inherit;
  width: 100%;
  min-width: auto;
  max-width: 1200px;
  position: relative;
}
header .h_container .main_logo {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
header .h_container .main_logo a {
  display: block;
}
header .h_container .main_logo a img {
  vertical-align: top;
}
header .h_container .nav_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  right: 20px;
}
header .h_container .nav_wrap:after {
  display: block;
  content: '';
  clear: both;
}
header .h_container .nav_wrap > div,
header .h_container .nav_wrap > nav {
  float: left;
}
header .h_container .nav_wrap ul:after {
  display: block;
  content: '';
  clear: both;
}


header .h_container .nav_wrap ul li {
  float: left;
}
header .h_container .nav_wrap .nav_left ul li {
  margin-left: 30px;
}
header .h_container .nav_wrap .nav_left ul li:first-child {
  margin-left: 0;
}
header .h_container .nav_wrap .nav_left ul li a { 
  font-size: 16px;
  font-weight: bold;
  color: #5f5f5f;
  display: block;
  line-height: 80px;
  font-weight: 500;
}
header .h_container .nav_wrap .nav_right {
  margin-left: 30px;  font-weight: bold;
  position: relative;
}
header .h_container .nav_wrap .nav_right ul li {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
header .h_container .nav_wrap .nav_right ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}
header .h_container .nav_wrap .nav_right ul li:first-child:after {
  display: none;
}
header .h_container .nav_wrap .nav_right ul li:after {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background: #888;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
header .h_container .nav_wrap .nav_right ul li a {
  display: block;
  color: #888;
  font-size: 13px;
  line-height: 80px;
 
}
header .h_container .nav_wrap .nav_right ul li a:hover {
  
  color:#999fff;

 
}
header .h_container .nav_wrap .nav_left ul li a:hover {
  
  color:#999fff;

 
}
header .h_container .nav_wrap .nav_left ul li a {
  
  font-weight: 600;
 
  
 }






 .top_border_container {
  background: url(/image/common/top_border.png) center 0 no-repeat;
  
 
}



/*main*/
.top_border_container {
   position: relative; 
   width: 100%; height: 50px;
   margin: 0;
}
.top_border_container .img {width: 100%; height: 100%;} /*그라데이숀*/




.top_border_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 16px;
}/*버려지는 물건이 읎도록*/


.ptop {
   font-size: 60px; text-align:center; 
   padding-top: 60px; 
   padding-bottom: 50px;
   line-height: 1.4;
   color: #2E2E2E;
   font-weight: bold;
   letter-spacing: -0.05em;
}

/*다운로드 버튼*/

.btn_container {    


   align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    
      
}

.left_btn {
   display: inline-flex;
   border-radius: 20px;
   align-items: center;
   text-align: center;
   margin-right: 20px;
   background-color: #999fff;
   color: rgb(255, 255, 255);
   font-size: 14px;
    padding: 11px 30px;
    

}
.right_btn {
  
   display: inline-flex;
   border-radius: 20px;
   align-items: center;
   text-align: center;
   background-color: #999fff;
   color: rgb(255, 255, 255);
   font-size: 14px;
   padding: 11px 30px;
  
}

.left_btn > img{
  margin-right: 5px;
}
.right_btn > img {
  margin-right: 5px;
}

.btn_container> a:hover
{background-color: #6868FE;
  transition: all 1s;
  
}

/*쇼핑 여성 이미지~_~*/

.section1_img  { 
   
   text-align: center;
   padding-top: 100px;
   padding-bottom: 120px;
}

/*------------------------------------------------------------------------*/
.bg2 {
  width: auto; height: auto;
  background: url(/image/main/bg2.png) center center no-repeat;
}



.section2_content{
  padding-top: 80px;
  position: relative;
  display: flex;
  width: 1200px; 
  margin:0 auto;
   text-align: center;  
  /* background-color:white;*/
   font-weight: 600;
   font-size: 28px;  
   line-height: 46px;
   color: #2E2E2E;
   letter-spacing: -0.02em;
 
 }
 
 .section2_textbox {
 
 height: fit-content;
 vertical-align:middle;
 position:absolute;
 top:40%; left: 40%;
}


.spin_img{width: 200px;height: 200px;
  border-radius: 100%;



position: absolute; 
right:10px; 
bottom: 30px;

-webkit-animation:spin 6s linear infinite;
-moz-animation:spin 6s linear infinite;
animation:spin 6s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





/*--------------------------------------------------- */





.section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.section .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
  position: relative;

}
.bar {
 text-align: center; 
 ;
}


.linkContainer {
  
  margin:0 auto;
  width: 1000px;
  padding: 30px 0 30px;
  
}
.linkContainer .links {
 
  text-align: center;
  position: relative;
 
  font-weight: 500;
}
.linkContainer .links a {
  vertical-align: top;
  color: #2E2E2E;
 
}

.linkContainer .links a:hover{
 
  color: #999fff;
  transition: all 1s;
  
}
.linkContainer .links a:visited{
  color:#2E5BFF;
}

.linkContainer .links a:first-child {
  position: absolute;
  left: 80px;
}
.linkContainer .links a:last-child {
  position: absolute;
  right: 80px;
  top: 0;
}




.section3_text {  
  margin-top: 180px;
  font-size: 34px;
  color:#2E5BFF;
  text-align: center;
  font-family: 'Fredoka One', cursive;
 
}
.section3_text2 {

  font-size: 16x;
  color:#b1afaf;
  text-align: center;
  margin-top: 14px;
}

.kv {
  position: relative;
  margin-top: 120px;
  
}
.kv .item {
  margin: 0 auto;
  width: 340px;
}
.kv .item:first-child {
  position: absolute;
  left: 0;
}
.kv .item:last-child {
  position: absolute;
  right: 0;
  top: 0;
}
.kv .item .image {
  height: 433px;
  margin-bottom: 35px;
  text-align: center;
  position: relative;
}
.kv .item .image img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  filter:drop-shadow(1px 1px 30px #EFEFEF);
  
}
.kv .item .emoticon {
  text-align: center;
  margin-bottom: 30px;
}
.kv .item .text {
  text-align: center;
}
.kv .item .text p {
  text-align: center;
}
.kv .item .text p.title {
  font-size: 18px; font-weight: bold;
  color: #2E5BFF;
}
.kv .item .text p.desc {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #999fff;
}




.innerLink {
  overflow: auto;
  padding-right: 20%;
  margin-top: 1px;
}
.innerLink1 li a { color:#2E2E2E;

}
.innerLink2 li a  { color:#2E2E2E;

}
.innerLink1 li a:hover ,.innerLink2 li a  {
  text-decoration: underline;
  
}
.section--index {
  background: url(/image/main/w_bg.png) center center no-repeat;
}


.section4-container {
  margin-top: 300px;
  margin-bottom: 200px;
  
}
.section4-contents {
  max-width: 1200px;
  margin: 0 auto;
  height: 800px;

  position: relative;
  background: url(/image/main/sec2img.png) center center no-repeat;
  
  text-align: center;
}


.section4-container a { 
  font-size: 50px;
  color:  #999fff;
  font-weight: 1000;
  margin: 0 auto;
  font-size: 55px;
  line-height: 75px;
}

.section4-container > a:hover { 
  font-size: 50px;
  color:  #2c38e2;
}

.section4_img{
  padding-bottom: 35px;
}






/*--footer--*/

.foot {
  width: 100%;
 
} /*div 는 원래 블록 */







/*footer*/


.foot_container{
    overflow: hidden;
  display: flex;
 width: 100%; height: 156px;
 background-color: #3c9c88;
 
}

.foot_con1 {padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;   
  background-color:#f1f1f1;
 
}
.text_box1{ 
  display: flex;
  padding-left: 510px;
  font-size: 14px;
  line-height: 28px;
    color:#2E2E2E;
   


}

.text_box2{
  display: flex;
  padding-left: 100px;
  font-size: 14px;
  line-height: 28px;
  position: relative;  
  

  }

.f_l_logo {
  position: absolute;
  right: 400px;
  width: 108px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}


.innerlink1 {
  
  color: #2E2E2E;
  display: block;
}
.innerlink2 {
 
  margin-left: 30px;
  display: block;
 
}



.foot_con2 {padding-top: 50px;
  padding-bottom: 50px;
  width: 50%; 
  background-color:  #f7f7f7
  }
  

  a.top {
    background-image: url(/image/common/xyzicon.png) ;
    position: fixed;
    right: 8%;
    bottom: 8%;
    display: none;
    width: 50px;
    height: 50px;
    
  }


  a.top:hover {
    background-image: url(/image/common/top_btn_w.png) ;
    position: fixed;
    right: 8%;
    bottom: 8%;
    display: none;
  }